{% extends 'core/base.html' %}
{% block title %}Crear Libro{% endblock %}

{% block content %}
<div class="container-fluid p-5">
    <div class="container p-3 shadow text-center rounded mb-4">
        <h2 class="display-2">Página nueva</h2>
        <div class="formulario p-5">
            <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-light mt-3">Crear Libro</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}