{% extends 'core/base.html' %}
{% block title %}Géneros{% endblock %}
{% block content %}
<div class="container-fluid py-5">
    <h2 class="display-3 text-center">Género: {{genre}}</h2>
    <div class="row mx-3 my-5">
        <form class="row row-cols-lg-auto g-3 align-items-center" id="genre_list">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref">Géneros</label>
                <select class="form-select-sm form-select" id="inlineFormSelectPref" >
                    <option value="{% url 'books:genre' genre.id %}" selected>{{genre}}</option>
                    <option value="{% url 'books:books' %}">Todos</option>
                    {% for g in genre_list%}
                        {% if g != genre %}
                            <option value="{% url 'books:genre' g.id %}">{{g}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-secondary btn-sm px-3">Ir</button>
                    </div>
                </form>
        {% for book in book_list %}
            <div class="col-lg-3 col-sm-6 my-4">
                <div class="container text-center">
                        <div class="book-content">
                            {% if book.image != '' %}
                                <img class="my-2" src="{{book.image.url}}" width="200" height="300" />
                            {% else %}
                                <img class="my-2" src="{% load static %}{% static 'books/no-portada.svg' %}" width="200" height="300" />
                            {% endif %}    
                            <p class="mb-1 fw-bold title">{{book.title}}</p>
                            <p class="mb-1 author">{{book.author}}</p>
                            <a class='btn btn-outline-light' href="{% url 'books:book' book.id book.title|slugify %}">Leer más</a>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <!-- PAGINATION -->
        {% block pagination %}{% include 'books/pagination.html' %}{% endblock %}
    </div>
</div>
    <script src="{% load static %}{% static 'books/change_genre.js' %}"></script>

{% endblock %}