{% extends 'core/base.html' %}

{% block title %}Sample{% endblock %}

{% block content %}
 <div class="container-fluid p-5">
        <div class="container p-3 shadow rounded text-center">
            <h2 class="display-2">Titulo</h2>
            <div class="row justify-content-evenly mb-4">
                <div class="px-5 text-start">
                    <p class="fs-5 text-first">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin ipsum sit amet ex ornare blandit. Vivamus at metus suscipit, tempus justo eget, dapibus purus. Sed a orci massa. Vestibulum semper cursus pellentesque. Quisque at pulvinar mauris, ut semper metus. Mauris at sollicitudin tortor, eget pharetra sapien. Etiam rhoncus augue vulputate consectetur iaculis. Duis ac aliquet enim, sed luctus libero. Praesent aliquam ut nisl in elementum. Nam porta ut erat id sodales. Vivamus efficitur dictum elit mattis sollicitudin. Fusce purus massa, varius a ligula nec, tempus efficitur tellus. Nunc faucibus velit sed erat bibendum convallis.
                    </p>
                    <p class="fs-5 text-first">
                        Vestibulum ornare euismod nisl, quis suscipit purus tincidunt vitae. Nam euismod, augue a pretium elementum, urna tellus fermentum tortor, et posuere ipsum dui quis nibh. Sed ullamcorper risus arcu, at aliquet dui consectetur eu. Pellentesque ut nulla vestibulum, blandit urna ut, posuere metus. Suspendisse feugiat egestas mauris vel tempor. Vestibulum consectetur ipsum non mauris cursus iaculis. Phasellus pretium elit at sem tincidunt, ac dictum odio elementum. Praesent ex quam, suscipit in feugiat sit amet, bibendum sit amet massa. In vehicula quis diam imperdiet feugiat. In arcu justo, luctus in laoreet sit amet, bibendum sed ante.
                    </p>
                </div>
                <div class="container-fluid text-end">Editar | Borrar</div>
            </div>
        </div>
    </div>
{% endblock %}